linkify-it-py==2.0.3
markdown-it-py==3.0.0
mdit-py-plugins==0.4.2
mdurl==0.1.2
numpy==2.2.1
pandas==2.2.3
platformdirs==4.3.6
Pygments==2.19.1
python-dateutil==2.9.0.post0
python-json-logger==3.2.1
pytz==2024.2
PyYAML==6.0.2
rich==13.9.4
six==1.17.0
textual==1.0.0
toml==0.10.2
typing_extensions==4.12.2
tzdata==2024.2
uc-micro-py==1.0.3
